html, body {
    margin: 0;
    border: 0;
}

nav {
    font-family: fantasy, sans-serif;
    font-weight: bolder;
    text-shadow: 0.15em 0.15em 0.2em black;
}

header {
    background-image: url(../images/Pic10.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    text-align: center;
    color: white;
    
/*    height: 50em;*/
}

@media (min-width: 768px) {
    header {
        height: 50em;
    }
}

@media (max-width: 768px) {
    header {
        height: 30em;
    }
}

/* Navigation Custom */
.navbar-custom {
/*    background-color: transparent;*/
    background-color: black;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-size: 2em;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFFF66;
}
.navbar-inverse .navbar-text {
    color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a {
/*    color: azure;*/
    color: white;
/*    text-shadow: #000 0px 0px 1px;*/
    font-size: 2em;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #CCFF66;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFF66;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FF9900;
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-custom {
/*        background-color: transparent;*/
        background-color: black;
        
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        
        padding: 2em 0;
        border: none;
    }
}

@media (max-width: 767px) {
    .navbar-custom {
/*        background-color: transparent;*/
        background-color: black;
        
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        
        padding: 0.5em 0;
        border: none;
    }
    
    /* .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FF9900;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FF9900;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #FF9900;
        background-color: transparent;
    } */
    
/*      Header*/
    .home-text {
        margin-top: 7em;
        margin-left: 7em;  
        line-height: 1.5em;
    }
    
    .home-text span{
        color: #009999;
        font-size: 2.4em;
/*        font-family: 'Abril Fatface', cursive;*/
/*        font-family: 'Satisfy', cursive;*/
        font-family: 'Permanent Marker', cursive;
    }
    
    
    .navbar-custom {
        /*    background-color: transparent;*/
        background-color: black;
        border-color: transparent;
    }

    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 1.2em;
    }
    
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #FFFF66;
    }
    .navbar-inverse .navbar-text {
        color: #ecf0f1;
        font-size: 1.2em;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #CCFF66;
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #FFFF66;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #FF9900;
        background-color: transparent;
    }
    
    .collapse  {
        color: #ecf0f1;
        font-size: 1em;
    }
}

/* Header */
@media (min-width: 768px) {
    .home-text {
        margin-top: 13em;
        margin-left: 35em;  
        line-height: 3.5em;
    }
    
    .home-text span{
        color: #009999;
        font-size: 3em;
/*        font-family: 'Abril Fatface', cursive;*/
/*        font-family: 'Satisfy', cursive;*/
        font-family: 'Permanent Marker', cursive;
    }
}

/* User Comment */
.user-exp {
    min-height: 50em;
}

.comments-title {
    padding: 2em 0 1em 0;
    
    margin-left: 1em;
    margin-right: 1em;
    
    font-size: 2em;
/*    font-family: 'Ubuntu', sans-serif;*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-family: 'Droid Sans', sans-serif;*/
/*    font-weight: lighter;*/
    font-family: 'Quicksand', sans-serif;

    
/*    border: 1px rgb(26, 188, 156) solid;*/
    border-bottom: 1px grey solid;
}

.comments-row {
    margin: 1em;
}

.comments-user {
    padding: 0 10px 10px 10px;    
/*    border: 0.1em rgb(26, 188, 156) solid;*/
}

.comments-user-name {
    background-color: black;
    
    /* Font Style */
    line-height: 3em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-user-exp {
    padding-top: 1em;
    
    font-family: "PT Sans", sans-serif;
    font-size: 1.25em;
    
/*    border: 0.1em rgb(46, 204, 113) solid;*/
}

/* Footer */
footer {
    background-color: black;
    display: flex;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-text {
    color: white;
    font-size: 1.5em;
}

@media (min-width: 768px) {
    footer {
        height: 5em;
    }
}